src/main/mule/crud-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a7d3251e-a00e-4a86-b29d-b96423af32d7" basePath="/api" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="crud-apiFlow" doc:id="28a52573-cf22-4c4e-bb2b-19f308e49b30" >
		<http:listener doc:name="Listener" doc:id="c37c9ea5-c660-4da5-b6b2-97da2251cdf4" config-ref="HTTP_Listener_config" path="/users" allowedMethods="POST"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="7215b078-0e19-49ec-8d55-ede07780fd9e" />
		<logger level="DEBUG" doc:name="Logger" doc:id="82cdc2df-28de-4f0b-a953-19d10576d59c" message='"User Created: #[payload]"'/>
	</flow>
</mule>
