src/main/mule/get-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get-flowFlow" doc:id="f35c26df-2a97-4a22-98c9-a37155e5dfff" >
		<http:listener doc:name="Listener" doc:id="9cb865a7-b08f-4e3d-a649-7afd75c5fd1f" config-ref="HTTP_Listener_config" path="/user" allowedMethods="GET"/>
		<set-payload value='#["User endpoint is working!"]' doc:name="Set Payload" doc:id="9d83be72-7c83-43ce-89c3-1fb34063aca7" />
		<logger level="INFO" doc:name="Logger" doc:id="b271b21a-075b-4af8-a224-2f650b07271d" message="#[payload]"/>
	</flow>
</mule>
